<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" href="stylesheets/login.css">
		<title>Unsupported Browser</title>
	</head>
	<body>
		<div id="unsupported_browser_msg">The browser you are using is unsupported for use with this application. Please use latest versions of Microsoft Edge or Google Chrome</div>
	</body>
</html>